.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    border-radius: 10px;
    height:5vh;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  